{% autoescape off %}
Hello {{ receiver_first_name }},<br>
{{ sender_first_name }} has sent you a package using Poslito - a mobile app for fast and simple deliveries.<br>
Here are the details of the delivery:<br>
Item: {{ item_name }}<br>
Description: {{ item_description }}<br>
<br>
Sender: {{ sender_first_name }} {{ sender_last_name }}, {{ sender_email }}, {{ sender_phone }} <br>
Receiver: {{ receiver_first_name }} {{ receiver_last_name }}, {{ receiver_email }}, {{ receiver_phone }} <br>
<br>
Pick up place: {{ pickup_place }}<br>
Delivery place: {{ delivery_place }}<br>
<br>
A courier will contact you on this number: {{ receiver_phone }} once he reaches the delivery place with your package.<br>
<br>
Thanks for using Poslito!<br>

{% endautoescape %}